@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
  #root {
    @apply max-w-[1280px] mx-auto p-8 text-center;
  }

  .logo {
    @apply h-24 p-6 transition-[filter] duration-300;
  }

  .logo:hover {
    @apply filter drop-shadow-[0_0_2em_#646cffaa];
  }

  .logo.react:hover {
    @apply filter drop-shadow-[0_0_2em_#61dafbaa];
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  .paragraph-content {
    width: 100%;
    max-width: 600px;
    margin-bottom: 1rem;
    word-wrap: break-word;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #4b5563;
  }

  .link-button {
    display: grid;
    place-content: center;
    place-items: center;
    @apply m-2 rounded-lg p-2 text-xs;
    font-family: "Space Mono", sans-serif;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    border: 2px solid #4b5563;
  }

  .link-button:hover {
    color: white;
    background-color: #d4d4d4;
    border-color: #d4d4d4;
  }

  .card {
    @apply p-8;
  }

  .read-the-docs {
    @apply text-[#888];
  }
}
